#    Sets

##    functions of sets

In [33]:
# basics


set1 = {"vj", "aj", "vinod","avi"}
print("vj" in set1)

True

In [34]:
set1.update(["deva", "sean", "tithi"])
set1

{'aj', 'avi', 'deva', 'sean', 'tithi', 'vinod', 'vj'}

In [35]:
set1.remove("deva")
set1

{'aj', 'avi', 'sean', 'tithi', 'vinod', 'vj'}

In [36]:
set2 = {"rakesh","thillai","sadanand","maga"}

In [37]:
# joining two sets

set3 = set1.union(set2)
set3

{'aj',
 'avi',
 'maga',
 'rakesh',
 'sadanand',
 'sean',
 'thillai',
 'tithi',
 'vinod',
 'vj'}

In [38]:
set3.difference(set2)

{'aj', 'avi', 'sean', 'tithi', 'vinod', 'vj'}

In [39]:
set3.intersection(set2)

{'maga', 'rakesh', 'sadanand', 'thillai'}

In [40]:
# subset,superset
set2.issubset(set3)

True

In [41]:
set3.issuperset(set2)

True

In [42]:
set1.clear()
set1

set()

#  Lists.

##  indexing

In [43]:
List1 = ['yamaha', 'bajaj', 'ktm', 'honda']

In [44]:
print(List1[1])

bajaj

In [45]:
List1[2:5]

['ktm', 'honda']

In [46]:
List1[:5]

['yamaha', 'bajaj', 'ktm', 'honda']

In [47]:
List1[1:]

['bajaj', 'ktm', 'honda']

##  adding/removing elements

In [48]:
List1.append('suzuki')
List1

['yamaha', 'bajaj', 'ktm', 'honda', 'suzuki']

In [49]:
List2 = ['BMW', 'kawasaki', 'aprilia', 'ducati']

In [50]:
List1.extend(List2)
List1

['yamaha',
 'bajaj',
 'ktm',
 'honda',
 'suzuki',
 'BMW',
 'kawasaki',
 'aprilia',
 'ducati']

In [51]:
List1 = ['yamaha', 'bajaj', 'ktm', 'honda']

In [52]:
List2 = ['bmw', 'kawasaki', 'aprilia', 'ducati']

In [53]:
len(List1)

4

In [54]:
List1.pop(2)

'ktm'

In [55]:
List1.remove( 'bajaj')
List1

['yamaha', 'honda']

In [56]:
List1.clear()
List1

[]

In [57]:
List2.sort()
List2

['aprilia', 'bmw', 'ducati', 'kawasaki']



#  Tuples

##  basics

In [58]:
tup1 = ('samsung','apple','oneplus','huawei')
tup2 = ('nokia','sony ','xiaomi','oppo')
print ("tup1[2]:  ", tup1[2])
print ("tup2[0:5]:  ", tup2[0:5])

tup1[2]:   oneplus
tup2[0:5]:   ('nokia', 'sony ', 'xiaomi', 'oppo')

In [59]:
len(tup1)

4

In [60]:
for x in tup1:
    print(x)

samsung
apple
oneplus
huawei

In [61]:
if "huawei" in tup1:
    print("yes,'huawei' is present")

yes,'huawei' is present

In [62]:
tup3 = tup1 + tup2
tup3

('samsung', 'apple', 'oneplus', 'huawei', 'nokia', 'sony ', 'xiaomi', 'oppo')

In [63]:
tup3.index('apple')

1




#   Dictionaries

##  creating dictionaries

In [64]:
dict1 = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
dict1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [65]:
dict1['key1']

'value1'

In [66]:
dict1['key4'] = 'value4'
dict1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

## looping

In [67]:
for x in dict1:
    print(x)

key1
key2
key3
key4

In [68]:
for x in dict1.values():
    print(x)

value1
value2
value3
value4

In [69]:
for x,y in dict1.items():
    print(x,y)

key1 value1
key2 value2
key3 value3
key4 value4

In [70]:
del dict1("key3")
print(dict1)

SyntaxError: can't delete function call (<ipython-input-70-3276b0e7cca9>, line 1)

In [71]:
dict1_copy = dict1.copy()
print (dict1_copy)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [72]:
dict1.popitem()

('key4', 'value4')

#   Looping

## for loop

In [74]:
List2

['aprilia', 'bmw', 'ducati', 'kawasaki']

In [80]:
List1 = ['yamaha', 'bajaj', 'ktm', 'honda']

In [75]:
for x in List2:
    print(x)

aprilia
bmw
ducati
kawasaki

In [78]:
for x in List2:
    if x =="ducati":
        break
    print(x)

aprilia
bmw

In [79]:
for x in range (5,50, 5):
    print(x)

5
10
15
20
25
30
35
40
45

In [81]:
for x in range (5):
    print(x)
else:
    print("finished")

0
1
2
3
4
finished

In [82]:
# nested loops
for x in List1:
    for y in List2:
        print(x,y)

yamaha aprilia
yamaha bmw
yamaha ducati
yamaha kawasaki
bajaj aprilia
bajaj bmw
bajaj ducati
bajaj kawasaki
ktm aprilia
ktm bmw
ktm ducati
ktm kawasaki
honda aprilia
honda bmw
honda ducati
honda kawasaki

##  while loop

In [85]:
i = 1 
while i < 7:
    print(i)
    if i == 5:
        break
    i +=1

1
2
3
4
5

In [1]:
i = 1 
while i < 7:
    print(i)
    i +=1
else:
    print("i is no longer less than 7")

1
2
3
4
5
6
i is no longer less than 7

In [3]:
count = 2
while count < 5:
    print (count, "is less than 5")
    count = count + 1
else:
    print (count,"is greater than 5")

2 is less than 5
3 is less than 5
4 is less than 5
5 is greater than 5

##  if,else,elif

In [8]:
age = 18
if age > 21:
    print("welcome, you can have a drink")
elif age == 18:
    print("congrats")
else:
    print("sorry")

congrats

In [9]:
age = 17
if age > 21:
    print("welcome, you can have a drink")
elif age == 18:
    print("congrats")
else:
    print("sorry")

sorry

#   Functions

In [30]:
def my_function():
    print("hello from a function")

In [31]:
def my_function(fname, lname):
    print(fname + "" + lname)
my_function("Emil", "Refsnes")

EmilRefsnes

In [32]:
def my_function(fname):
    print(fname + "Mudliyar")
my_function("Vijay")
my_function("ajay")
my_function("vinod")

VijayMudliyar
ajayMudliyar
vinodMudliyar

In [35]:
def my_function(food):
    for  x in food:
        print(x)
fruits = ['apple','orange','grapes','banana']
my_function(fruits)

apple
orange
grapes
banana

In [36]:
def my_function(x):
    return 5 * x
print (my_function(3))



print (my_function(4))



print (my_function(5))

15
20
25